<div class="google-reviews">
  <div class="page-width">
    {{ page.metafields.custom.google_reviews }}
  </div>
</div>
{% schema %}
  {
    "name": "Google Reviews",
    "presets": [{
      "name": "Google Reviews"
    }]
  }
{% endschema %}
