<style>iframe{opacity:1!important}.pf-slider-nav.pagination-style-2,.pf-slider-nav.pagination-style-3{bottom:25px}.stores-50 .pf-slider-nav.pagination-style-2 button{border:2px solid #fff!important}.stores-50 .pagination-style-2 button:before{background:#fff!important}</style><div class="sc-ihgokY fmDicb __pf __pf_V5RPk9iC" id="__pf"><div data-pf-type="Body" class="sc-lizKaK bzhAMP pf-3_"></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"SkinKandy - Australia's largest piercing and jewellery specialist with over 50 stores nationwide","pageType":"home","pageId":"809dd7c0-3fae-43e6-aa37-ae5dfbbeb854","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"sectionRootType":"Section","trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.20.4.2","shopDomain":"skinkandy-au.myshopify.com","elementData":{},"shopifyProxyPath":"/apps/pagefly"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script>var iframe = document.querySelector('iframe');
var pauseAllYouTubeVideos = () => {
iframe.contentWindow.postMessage(JSON.stringify({ event: 'command',
func: 'pauseVideo' }), '*');
}
var playAllYouTubeVideos = () => {
iframe.contentWindow.postMessage(JSON.stringify({ event: 'command',
func: 'playVideo' }), '*');
}
setTimeout(() => {
playAllYouTubeVideos()
}, "500");</script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://skinkandy-au.myshopify.com/admin/apps/pagefly/editor?id=809dd7c0-3fae-43e6-aa37-ae5dfbbeb854&type=home)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}